pyserial
ttkbootstrap
pywin32
RPLCD           # [新增] [SAVED FOR NEXT STEP] LCD 驱动 
smbus2          # [新增] [SAVED FOR NEXT STEP] I2C 通信 for Rplcd
python-smbus    # [新增] [SAVED FOR NEXT STEP] I2C 通信 also for RPLCD